:root {
  --color1: #ffffff;
  --color2: #eeeeef;
  --color3: #dededf;
  --color4: #808080;
  --text1: #212121;
  --text2: #808080;
  --text3: #ffffff;
  --border1: #9f9ea1;

  --size1: 8px;
  --size2: 16px;
  --size3: 32px;
  --size4: 64px;
  --size5: 128px;
  --size6: 256px;
  --size7: 512px;
  --size8: 1054px;
  --size8-1: 100%;
  

  --red: #b62324;
  --yellow: #FFFF00;
  --green: #127749;
  --blue: #36c;
}
