<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Encyclopedia</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <meta name="description" content="Catholic English-language encyclopedia" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/global.css">
</head>
<body>
  <div class="mainContainer">
    <%- include("partials/header") %>
    <div class="content">
    
    </div>
    <%- include("partials/footer") %>
  </div>
</body>
</html>
